/*********************TAG SELECTORS********************/

body {
 background: #F0F8FF;
 text-align: center;
 font-size: 1.20em;
 margin: 0
}

h1 {
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 3.8rem;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-size: 2.7rem;
  margin: 0 auto;
  padding-bottom: 2%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 5%
}

/********************CLASS SELECTORS*******************/
.block {
  margin-top: 0px;
  padding: 20px;
}

.bottom-container {
  padding: 15px;
}

.bottom-2 {
  padding-bottom: 2%
}

.about-me {
  padding-bottom: 0;
}

.round {
  border-radius: 100%;
}

.icon {
  width: 150px;
}

.footer-link {
  padding: 3%;
}

.hobbies-img {
  width: 95%;
  margin-bottom: 10%
}

.hobbies {
  padding: 2% 10%;
}
.intro {
  width: 70%;
  margin: auto;
}

.intro-message {
  text-align: center;
}

.header {
  text-align: right;
  background-image: url("dandelion.jpg");
  border-color: #fff;
  color: #fff;
  padding: 8%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1080px) {

  .header {
    padding: 5%
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {

  .header {
    padding: 2%
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }
}

.half-img-left {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.half-img-right {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.half {
  width: 70%;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
}

.profile-img {
  width: 200px;
}

.nav-item {
  padding: 0 18px;
}
