
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/javascript/prism.js"></script>
</body>

<footer class="page-footer font-small cyan darken-3 fixed-bottom text-center">



<div class="row cyan-dark py-2 text-left">
<div class="column footer-copyright">
  <p>&copy; 2020 Anita Ernszt</p>

</div>
<div class="column text-right footer-copyright">
  <a class="fb-ic" href="https://github.com/AnitaErnszt">
    <i class="fab fa-github fa-lg"> </i>
  </a>

  <a class="fb-ic" href="/contact">
    <i class="fas fa-envelope fa-lg"> </i>
  </a>

  <a class="li-ic" href="https://www.linkedin.com/in/anita-ernszt-339147a6/">
    <i class="fab fa-linkedin-in fa-lg"> </i>
  </a>
</div>
</div>
</footer>
</html>
