<%- include("partials/header") -%>

<div class="content">
  <h1>About me</h1>
  <div class="half">
    <img class="half-img-right icon" src="images/skills.png" alt="puzzle picture">
    <h3>Skills</h3>
    <p class="text-justify">Nunc sollicitudin nisl sed libero bibendum sollicitudin. Nullam volutpat, nibh ac faucibus rhoncus, tellus lorem pulvinar libero, eu consequat diam elit id velit. Aenean tellus velit, suscipit at semper iaculis, facilisis et elit. Mauris lacinia, ante sed egestas pulvinar, nunc nisl aliquet nibh, ac finibus ipsum turpis et lorem. Integer a fringilla eros. In sollicitudin turpis magna, at vehicula turpis fermentum sit amet. Fusce vel rhoncus mauris.</p>
  </div>
  <br>
  <div class="half">
    <img class="half-img-left icon" src="images/laptop.png" alt="running shoe picture"> 
    <h3>Coding</h3>
    <p class="text-justify">Etiam sollicitudin nibh ut ex tempus, vel vestibulum nulla aliquam. Sed sed neque sit amet est ullamcorper iaculis a vel ipsum. Nam suscipit convallis mi. Aliquam aliquet scelerisque dui, ut viverra odio. Proin ac scelerisque risus, non auctor nulla. Vivamus euismod libero in hendrerit lobortis. Phasellus non mauris massa. Quisque placerat ex et erat imperdiet lacinia. Aliquam bibendum eget nulla vel vehicula.</p>
  </div>
</div>

<%- include("partials/footer") -%>
