<%- include("partials/header") -%>

  <h1>Hey there!</h1>
  <p>My name is Anita and I'm a junior programmer living in London.</p>
  <p>I have started programming a few months ago and it's been an incredible journey so far.
    Every day I learn something new and I really enjoy that I can do more and more.
    I've created this website with the purpose of showing off my amazing new skills 😊
    This website is changing day-by-day as I learn more.</p>
  <p>Please look around and let me know if you have any questions.</p>
  <p>Thank you, Anita</p>
  <img class="profile-img-me" src="images/anita.jpg" alt="picture of me">

<script src="index.js" charset="utf-8"></script>

<%- include("partials/footer") -%>
