<%- include("partials/header") -%>

<h1>Check out the codes that run the backend</h1>

<div class="row">
  <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <a href="/snippets/email"><h5 class="card-title">Email me API</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <div class="card-tags">
      <p class="cyan-button">API</p>
      <p class="cyan-button">Lambda</p>
      <p class="cyan-button">Python</p>
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Register API</h5>
      <p class="card-text">Content is coming soon!</p>
    </div>
  </div>
</div>

</div>


<%- include("partials/footer") -%>
